
<div class="row">
    <h1>PROYECTOS</h1>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <h1 class="titulo" >Sistema de valoración</h1>
            <div class="slider">
                <!-- <h1>sistema de valoración</h1> -->
                <ul>
                    <li><img src="../../../assets/point system part 1.jpg" class="img-fluid"></li>
                    <li><img src="../../../assets/point system part 2.jpg" class="img-fluid"></li>        
                </ul>
            </div>
            <a href="https://github.com/FabrizioBlanco/sistema-valoracion"><p>Link de github</p></a>
        </div>
    </div>