
<div class="coso row">
    <h1>PROYECTOS</h1>
    <div class=" coso1 col-sm-5 col-md-7 col-lg-6 col-xl-6">
        <div class="nombProyect">
            <h2>sistema de valoracion:</h2>
            
        </div> 
          <a href="https://github.com/FabrizioBlanco/sistema-valoracion"><p>-Link de GitHub-</p></a>
    </div>
    <div class="coso1 col-sm-4 col-md-4 col-lg-5 col-xl-4">
        <div class="slider">                
            <ul>
                <li><img src="../../../assets/point system part 1.jpg" class="img-fluid"></li>
                <li><img src="../../../assets/point system part 2.jpg" class="img-fluid"></li>        
            </ul>
        </div>
    </div>
</div>
   