<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/s.jpg" class="img-fluid" id="fotodeperfil">
    </div>    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Fabrizio A. Blanco</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca De mí:
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, necessitatibus eveniet? Similique reprehenderit laborum saepe, possimus a deleniti aliquam soluta praesentium vero harum repellendus officia aliquid est, minima rem ex?</p>
        </span>
    </div>
 </div>

