.row{
    padding: 25px;
}
/*fondo*/
div{
    background-color: #3382d7;
    text-align: center;
}
/* Foto de perfil */

@media (min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 14%;
        border-radius: 50%;
        box-shadow: 5px 8px 15px black;
        left: 4%;
        top: 590px;
    }
}

@media (max-width: 1320px){
    #fotodeperfil{
        position:absolute;
        width: 14%;
        border-radius: 50%;
        box-shadow: 5px 8px 15px black;
        left: 4%;
        top: 650px;
    }
}
@media (max-width: 1099px){
    #fotodeperfil{
        position:absolute;
        width: 14%;
        border-radius: 50%;
        box-shadow: 5px 8px 15px black;
        left: 4%;
        top: 680px;
    }
}
@media (max-width: 874px){
    #fotodeperfil{
        position:absolute;
        width: 14%;
        border-radius: 50%;
        box-shadow: 5px 8px 15px black;
        left: 4%;
        top: 710px;
    }
}
@media (max-width: 623px){
    #fotodeperfil{
        position:absolute;
        width: 14%;
        border-radius: 50%;
        box-shadow: 5px 8px 15px black;
        left: 4%;
        top: 732px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position:sticky;
        width: 40%;
        border-radius: 50%;
        box-shadow:5px 8px 15px black;
        left: 25%;
    }
}

/*etiqueta nombre*/
#name{
    font-weight: bold;
    margin-top: 10%;    
}
.titYNomb{
    position: absolute;    
    height: 130px;
    border: 2px solid black;
}

