
<div class="row ">
    <h1>Hard skills & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
       <circle-progress
        [percent]="54"
        [radius]="100"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'Orange'"
        [innerStrokeColor]="'#fbbd49'"
        [animation]="true"
        [animationDuration]="1000"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'orange'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [lazy]="false"
    ></circle-progress> 
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="100"        
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'yellow'"
         [innerStrokeColor]="'#ffffbb'"
         [animation]="true"
         [animationDuration]="1000"
         [showUnits]="false"
         [title]="'JAVASCRIPT'"
         [titleColor]="'yellow'"
         [titleFontSize]="'30px'"
         [showSubtitle]="false"
         [lazy]="false"
     ></circle-progress> 
     </div>
     <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="100"        
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#004cff'"
         [innerStrokeColor]="'lightskyblue'"
         [showSubtitle]="false"         
         [animation]="true"
         [animationDuration]="1000"
         [showUnits]="false"
         [title]="'CSS'"
         [titleColor]="'blue'"
         [titleFontSize]="'30px'"
         [lazy]="false"
     ></circle-progress> 
     </div>
     <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="100"        
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="1000"
         [showUnits]="false"
         [title]="'Compañerismo'"
         [titleColor]="'red'"
         [titleFontSize]="'20px'"
         [showSubtitle]="false"
         [lazy]="false"
     ></circle-progress> 
     </div>
     <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="100"        
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="1000"
         [showUnits]="false"
         [title]="'inglés'"
         [titleColor]="'red'"
         [titleFontSize]="'20px'"
         [showSubtitle]="false"
         [lazy]="false"
     ></circle-progress> 
     </div>
     <h1>ACORDATE, FALTAN MÁS POR PONER</h1>
    
</div>
 <!--
   
    FALTAN:
    - modificar los porcentajes
    En hard Skills:
    -gitHub
    -MySQL
    -Java
    -NodeJs
    -Angular
    En Soft Skills (cambiar color a esto):
    -Organizado
    -
    
    -->

