<h3>Hard y Soft Skills </h3>
<!-- Las hard SKills son las habilidades técnicas (idiomas, softwares, bases de datos, etc)-->
<!-- Las soft skills (interpersonales) se refieren a lo social (team work, comunicacion, empatía, liderazgo, etc) -->
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">JAVASCRIPT</div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">HTML</div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">CSS</div>
</div>
 
