<div class="row">
    <h1>Hard skills & Soft Skills</h1>
    <div class="col-lg-2">
        
        <button type="button" class="btn btn-light" routerLink="/nuevaskill" *ngIf="isLogged">
            Nueva Skill
        </button>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 " *ngFor="let Skill of skill">
        <circle-progress
             [percent]="(Skill.porcentaje)"
             [radius]="100"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [title]="(Skill.nombre)"
             [outerStrokeColor]="'Orange'"
             [innerStrokeColor]="'#fbbd49'"
             [animation]="true"
             [animationDuration]="1000"
             [showUnits]="false"
             [titleColor]="'orange'"
             [titleFontSize]="'30px'" 
             [showSubtitle]="false" 
             [lazy]="false">
        </circle-progress>


        <td *ngIf="isLogged">
            <i class="fa-regular fa-pen-to-square"></i>
            <button class="btn btn-light" routerLink="/editskill/{{Skill.id}}"> EDITAR</button>
        </td>
        <td *ngIf="isLogged">
            <i class="fa-sharp fa-solid fa-trash"></i>
            <button class="btn btn-danger" (click)="delete(Skill.id)"> BORRAR</button>
        </td>
    </div>
</div>